.hidden {
    transform: rotateZ('90deg');
    margin: 1.5vh;
    filter: blur(5px);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
}

.show {
    transform: rotateZ('-90deg');
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

body {
    transition: all 0.3s ease-in-out;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 500vh;
}
.card:hover {
    color: azure;
    outline-color: rgba(112, 67, 67, 0);
    background: linear-gradient(90deg, #246b9a, #e74c3c); /* Gradient background on hover */
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
    /*box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    /*background-color: #FACD3D; /* Voeg hier de gewenste achtergrondkleur toe */
}